<% layout('layouts/boilerplate')%>
<div class="d-flex justify-content-center">
  <div
    class="card d-flex justify-content-center border-0 align-items-center"
    style="max-width: 800px"
  >
    <div class="d-flex">
      <div>
        <img src="<%=wine.image%>" alt="Wine Image" style="max-width: 250px" />
      </div>
      <div class="col-md-8">
        <div class="card-body pt-0">
          <h3 class="card-title"><%=wine.title%></h3>
          <p class="card-text"><%=wine.description%></p>
          <h6 class="card-text text-muted">Origins:<h5><%=wine.location%></h5></h6>
          <p class="card-text">
            <h6 class="text-muted">Starting from:
              <h4>$<%=wine.price%></h4>
              </h6>
          </p>
          <div class="d-flex">
            <a href="/wines/" class="btn btn-primary">Our Collection</a>
            <a href="/wines/<%=wine._id%>/edit" class="btn btn-primary mx-1"
              >Edit</a
            >
            <form action="/wines/<%=wine._id%>?_method=DELETE" method="POST">
              <button class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
